name: Pylint

on:
  push:

  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.13]

    steps:
    - uses: actions/checkout@master
      with:
        persist-credentials: false
    - name: Install uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
    - name: Set up Python ${{ matrix.python-version }}
      run: uv python install ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -y libldap2-dev libsasl2-dev ldap-utils
        uv sync --all-extras
    - name: Test with pylint
      run: |
        uv run pylint asfpy/*.py test/*.py
    - name: Test with mypy
      if: always()
      run: |
        uv run pip install types-PyYAML types-requests
        uv run mypy --ignore-missing-imports . # recursive by default
